#breaking {
    .heading{
        margin: 20px 0px;
    }
    .content {
        .cards {
            transition: 1s;
            &:hover{
                img{
                    display: block;
                }
                .news_details{
                    display: none;
                }
            }
            img {
                width: 100%;
                display: none;
            }
            .news_details{
                transition: 1s;
                padding:20px 10px ;
                h4{
                    padding-bottom: 20px;
                }
            }
            
        }
    }
}