#breaking {
    .heading{
        margin: 20px 0px;
    }
    .content {
        .cards {
            
            img {
                width: 100%;
                display: none;
            }
            
        }
    }
}