body{
     font-family: "Roboto", serif;
}
.container{
    max-width: 1200px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
@mixin button{
    background: #00378a;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 14px;
}